@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap');

body{
    margin: 0px;
}

header{
    position: fixed;
    background-color: #0d0e26;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 5px rgba(20, 20, 20, 0.3);
    z-index: 1;
}
footer{
    width: 100%;
    height: 150px;
    background-color:#0d0e26;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

#menuBar{
    background-color: #0d0e26;
    display: flex;
    width: 600px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #5e5ba6;
    
}

a[href]{
    color: #5e5ba6;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover{
    color: white;
    transition: color 0.5s;
}

ul{
    display: flex;
    width: 600px;
    justify-content: space-around;
    padding: 0px;
}

ul li{
    display: inline-flex;
    align-items: center;
    transition: color 0.5s;
}

#menu02{
    color: white;
}

ul li:hover{
    color: white;
    transition: color 0.5s;
}

#contents{
    width: 100%;
    height: 100vh;
    background-color: #5e5ba6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#listbox{
    margin-top: 150px;
    width: 1260px;
    height: 490px;
    background-color: #5e5ba6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.col-2{width: 190px; margin: 0px 10px;}
.col-1{width: 85px; margin: 0px 10px;}
.col-3{width: 295px; margin: 0px 10px;}
.col-4{width: 400px; margin: 0px 10px;}
.col-5{width: 505px; margin: 0px 10px;}
.col-6{width: 610px; margin: 0px 10px;}
.col-7{width: 715px; margin: 0px 10px;}
.col-8{width: 820px; margin: 0px 10px;}
.col-9{width: 925px; margin: 0px 10px;}
.col-10{width: 1030px; margin: 0px 10px;}
.col-11{width: 1135px; margin: 0px 10px;}
.col-12{width: 1240px; margin: 0px 10px;}

#row1{
    width: 1260px;
    height: 80px;
    display: flex;
    margin: 0px;
    padding: 0px 0px;
    top:0px;
    position: relative;
    justify-content: center;

}

#title{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#row2{
    width: 1260px;
    height: 335px;
    display: flex;
    margin: 0px;
    padding: 0px 0px;

    position: relative;
    justify-content: center;
 
}



#click{
    width: 200px;
    height: 200px;
    background: #e5e5e5;
    position: absolute;
    top: 15%;
    left: 4.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    
}

#click:hover{
    opacity: 0.7;
    transition: opacity 0.5s;
}

#click2{
    width: 200px;
    height: 200px;
    background: #e5e5e5;
    position: absolute;
    top: 15%;
    left: 29.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

#click2:hover{
    opacity: 0.7;
    transition: opacity 0.5s;
}

#click3{
    width: 200px;
    height: 200px;
    background: #e5e5e5;
    position: absolute;
    top: 15%;
    left: 54.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

#click3:hover{
    opacity: 0.7;
    transition: opacity 0.5s;
}

#click4{
    width: 200px;
    height: 200px;
    background: #e5e5e5;
    position: absolute;
    top: 15%;
    left: 79.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

#click4:hover{
    opacity: 0.7;
    transition: opacity 0.5s;
}