@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap');

body{
    margin: 0px;
}

header{
    position: fixed;
    background-color: #0d0e26;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 5px rgba(20, 20, 20, 0.3);
    z-index: 2;
}
footer{
    width: 100%;
    height: 150px;
    background-color:#0d0e26;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

#menuBar{
    background-color: #0d0e26;
    display: flex;
    width: 600px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #5e5ba6;
    
}

a[href]{
    color: #5e5ba6;
    text-decoration: none;
    transition: color 0.5s;
}

a[href="3Dlist.html"]{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover{
    color: white;
    transition: color 0.5s;
}

ul{
    display: flex;
    width: 600px;
    justify-content: space-around;
    padding: 0px;
}

ul li{
    display: inline-flex;
    align-items: center;
    transition: color 0.5s;
}

#menu02{
    color: white;
}

ul li:hover{
    color: white;
    transition: color 0.5s;
}

#contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content01{
    width: 1240px;
    height: 825px;
    
    top: 100px;
    position: relative;
}

#title{
    width: 1220px;
    height: 60px;
    background-color: #e5e5e5;
    position: absolute;
    top: 110px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #0d0e26;
}

#content02{
    width: 100%;
   
    background-color: #e5e5e5;
    top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

#content02-1{
    width: 1260px;
    
    
    top: 0px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#category01{
    width: 1240px;
    height: 60px;
    
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #0d0e26;
}

#content03{
    width: 100%;
   
   
    top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

#content03-1{
    width: 1260px;
    
    
    top: 0px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

#content04{
    width: 100%;
   
    background-color: #272a59;
    top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

footer{
    width: 100%;
    height: 150px;
    background-color:#0d0e26;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    position: relative;
}

#category02{
    width: 1240px;
    height: 60px;
    
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #e5e5e5;
}
