@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap');
body{
    margin: 0px;
}

header{
    position: fixed;
    background-color: #0d0e26;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 5px rgba(20, 20, 20, 0.3);
    z-index: 1;
}

#menuBar{
    background-color: #0d0e26;
    display: flex;
    width: 600px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #5e5ba6;
    
}

a[href]{
    color: #5e5ba6;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover{
    color: white;
    transition: color 0.5s;
}

ul{
    display: flex;
    width: 600px;
    justify-content: space-around;
    padding: 0px;
}

ul li{
    display: inline-flex;
    align-items: center;
    transition: color 0.5s;
}

#menu01{
    color: white;
}

ul li:hover{
    color: white;
    transition: color 0.5s;
}

#contents{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#content01{
    width: 100%;
    height: 100vh;
    background-color: #5e5ba6;
    display: flex;
    justify-content: center;
}

#content01-1{
    width: 1240px;
    height: 100vh;
    background-color: #5e5ba6;
    display: flex;
}

#rocket{
    top: 550px;
    width: 500px;
    position: absolute;
}

#moon{
    width: 550px;
    height: 550px;
    border-radius: 550px;
    background-color: #e5e5e5;
    position: relative;
    top: 180px;
    left: 690px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    font-size: 2.5rem;
    font-family: 'Noto Sans KR', sans-serif;
}

#star01{
    padding: 0px;
    width: 200px;
    height: 200px;
    top: 200px;
    left: 40px;
    position: relative;
}
#star02{
    padding: 0px;
    width: 200px;
    height: 200px;
    top: 760px;
    left: 400px;
    position: relative;
}

#welcome{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0px;
}


#content02{
    width: 1260px;
    height: 900px;
    display: inline-flex;
}

#row{
    width: 1260px;
    height: 100px;
    display: flex;
    margin: 0px;
    padding: 0px 0px;
    top:700px;
    position: relative;
    
}

.col-2{width: 190px; margin: 0px 10px;}
.col-1{width: 85px; margin: 0px 10px;}
.col-3{width: 295px; margin: 0px 10px;}
.col-4{width: 400px; margin: 0px 10px;}
.col-5{width: 505px; margin: 0px 10px;}
.col-6{width: 610px; margin: 0px 10px;}
.col-7{width: 715px; margin: 0px 10px;}
.col-8{width: 820px; margin: 0px 10px;}
.col-9{width: 925px; margin: 0px 10px;}
.col-10{width: 1030px; margin: 0px 10px;}
.col-11{width: 1135px; margin: 0px 10px;}
.col-12{width: 1240px; margin: 0px 10px;}

#row1{
    width: 1260px;
    height: 450px;
    display: flex;
    
    margin: 0px;
    padding: 0px 0px;
    top:1200px;
    position: absolute;
    align-items: center;
}

#profileinfo{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

#profileinfo2{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

#row2{
    width: 1260px;
    height: 80px;
    display: flex;
    margin: 0px;
    padding: 0px 0px;
    top:0px;
    position: relative;
    justify-content: center;
    
}

#content03{
    width: 1260px;
    height: 1300px;
    background-color: #5e5ba6;
    display: flex;
    flex-direction: column;
}

#imtitle{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#row3{
    width: 1260px;
    height: 295px;
    display: flex;
    margin: 0px;
    padding: 0px 0px;
    top:70px;
    position: relative;
    justify-content: center;
   
}

#satellite01{
    width: 255px;
    height: 255px;
    padding: 20px;
    border-radius: 275px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#row4{
    width: 1260px;
    height: 320px;
    display: flex;
    margin: 0px;
    padding: 0px 0px;
    top:70px;
    position: relative;
    justify-content: center;
   
    display: flex;
}

#mainPlanet{
    width: 360px;
    height: 280px;
    padding: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content04{
    width: 1260px;
    height: 1190px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
}


#row5{
    width: 1260px;
    height: 80px;
    display: flex;
    margin: 0px;
    padding: 0px 0px;
    top:0px;
    position: relative;
    justify-content: center;
}

#myhobby{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#row6{
    width: 1260px;
    height: 905px;
    display: flex;
    margin: 0px;
    padding: 0px 0px;
    top:100px;
    position: relative;
    
}

#hobbyBox{
    width: 820px;
    height: 905px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box{
    width: 780px;
    height: 247px;
    background-color: #5e5ba6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

footer{
    width: 100%;
    height: 150px;
    background-color:#0d0e26;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}